/*** general ***/
body {
  background: lemonchiffon;
}

h1{
  background: beige;
  padding: 2%;
  border: 1px solid black;
}

h2 {
  margin-top: 0;
}

p {
  font-size: 1.1em;
}

.saleItem {
  color: red;
}

/*** products ***/

#products .panel{
  width: 30%;
  height: 300px;
  min-width: 125px;
}

.panel {
  padding: 2%;
  margin: 1%;
  position: relative;
  overflow: hidden;
}

#products {
  width: 70%;
}

.product {
  width: 40%;
  min-width: 80px;
}

.btn {
   position: absolute;
   bottom: 3%;
   width: 87%;
   font-weight: bold;
 }

/*** cart ***/

#cart {
  width: 25%;
}

#cart.panel{
  padding: 0;
}

.panel-default>.panel-heading {
    background: #f5f5f5;
    background: linear-gradient(#f5f5f5, #bbb);
}

/*** media queries ***/

@media (max-width: 1000px) {
 #products, #cart, .btn {
   font-size: 0.8em;
 }

 p {
   margin: 0;
 }

 #cart {
   width: 30%;
 }

 #products {
   width: 68%;
 }

 #products .panel {
   height: 250px;
 }
}


@media (max-width: 602px) {
 #cart {
   padding: 1%;
   width: 40%;
 }

 #cart .panel {
   font-size: 0.8em;
 }

 #products {
   width: 58%;
 }

 #products .panel {
   height: 250px;
   width: 45%;
 }
}

@media (max-width: 465px) {
 #cart {
   width: 48%;
 }

 #products {
   width: 50%;
 }

 #products .panel {
   width: 100%;
   height: 225px;
 }
}
